node_modules
dist
build
.env
.env.local
.vite
coverage
*.log

# docs
# .codex

.local
playwright-report
test-results
*.tsbuildinfo



# Ignore generated tsbuildinfo
*.tsbuildinfo

# Ignore generated prisma output
apps/api/prisma/**/*.js
apps/api/prisma/**/*.d.ts
apps/api/prisma.config.js
apps/api/prisma.config.d.ts

# Ignore accidental gcloud folders
gcloud/
C:/
