{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "singleQuote": true,
  "semi": true,
  "trailingComma": "all",
  "importOrder": [
    "^node:(.*)$",
    "<THIRD_PARTY_MODULES>",
    "^@ff-restaurent/(.*)$",
    "^@/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSideEffects": false,
  "importOrderSortSpecifiers": true
}
